.card-img-skills {
  position: absolute;
  width: 250px;
  bottom: -70px;
  z-index: 1;
  right: -90px;
  opacity: 0.3;
}
.skills-grid {
  grid-row-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  margin-bottom: 20px;
}
@media screen and (min-width: 767px) {
  .skills-card-aboutme {
    width: 45%;
  }
}
@media screen and (min-width: 1023px) {
  .skills-card-aboutme {
    width: 30%;
  }
}
