.card-img-skills {
  position: absolute;
  width: 250px;
  bottom: -70px;
  z-index: 1;
  right: -90px;
  opacity: 0.3;
}
.skills-grid {
  grid-row-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  margin-bottom: 20px;
}

.box-icons-skills {
  color: var(--color-buttons);
  font-size: 8rem;
}
.img-profile {
  border-radius: 50%;
  width: 320px;
  object-fit: cover;
  height: 300px;
  background: -webkit-linear-gradient(
    -45deg,
    #4158d0,
    #c850c0,
    #ffcc70,
    #e73c7e
  );
  background-size: 500%;
  -webkit-animation: gradient 5s ease infinite;
  -moz-animation: gradient 5s ease infinite;
  animation: gradient 30s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (min-width: 767px) {
  .skills-card-aboutme {
    width: 45%;
  }
}
@media screen and (min-width: 1023px) {
  .skills-card-aboutme {
    width: 30%;
  }
}
