.card-img-skills {
  position: absolute;
  width: 200px;
  top: -80px;
  right: -50px;
  opacity: 0.3;
}
.skills-grid {
  grid-row-gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .skill-card-aboutme {
    width: 45%;
  }
}
@media screen and (min-width: 1023px) {
  .skill-card-aboutme {
    width: 32%;
  }
}
