.btn-submit {
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  height: 60px;
  background-color: var(--color-buttons);
  color: var(--color-text-buttons);
}
.title__contactMe {
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;
  float: left;
  color: var(--color-text-buttons);
  width: fit-content;
  background-color: var(--color-background-image);
}
.title__contactMe span {
  position: absolute;
  right: 0;
  width: 0;
  background-color: var(--color-background-image);
  border-left: 1px solid #000;
  animation: escribir 5s steps(30) infinite alternate;
}
/*  Animations*/
.btn:disabled {
  background-color: var(--color-buttons);
  color: var(--color-text-buttons);
}
.btn-submit:hover {
  background-color: var(--color-text-buttons);
  color: var(--color-buttons);
}
@keyframes escribir {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
