:root {
  --color-bg: #1b1e22;
  --color-text: #f0f6fc;
  --color-buttons: #604a84;
  --color-secondary-text: #c2c2c2;
  --color-text-buttons: #f0f6fc;
  --menu-icon: invert(95%) sepia(8%) saturate(1094%) hue-rotate(183deg)
    brightness(104%) contrast(98%);
  --color-title-skills: #161b22;
  --color-text-projects: #1a2027;
  --background-color-stars: rgba(255, 255, 255, 0.8);
  --stars-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5),
    0 0 10px 4px rgba(255, 255, 255, 0.2), 0 0 17px 7px rgba(255, 84, 98, 0.1);
  --stars-background-image: linear-gradient(90deg, #c7c6c6ca, transparent);
}
html {
  scroll-behavior: smooth;
  font-display: swap;
}
#aboutMe,
#projects,
#contactMe {
  padding-top: 30px;
}
body {
  background-color: var(--color-bg);
  color: var(--color-text);
  z-index: 10;
  font-family: 'Poppins', sans-serif;
}

.vbar {
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--color-buttons);
}
.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  display: none;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 68%);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn-scroll-top:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  border: none;
  color: white;
}
/*  LIGHT MODE*/
@media (prefers-color-scheme: dark) {
  body.light-theme {
    --color-bg: #f9fafb;
    --color-text: #1a2027;
    --color-text-projects: #f0f6fc;
    --background-color-stars: rgba(0, 0, 0, 0.7);
    --stars-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5),
      0 0 10px 4px rgba(0, 0, 0, 0.2), 0 0 17px 7px rgba(0, 84, 98, 0.1);
    --stars-background-image: linear-gradient(90deg, #545454ca, transparent);
    --menu-icon: invert(0%) sepia(96%) saturate(14%) hue-rotate(322deg)
      brightness(95%) contrast(99%);
  }
}
