:root {
  /*   Text and Background Styles*/
  --color-bg: #202124;
  --color-text: #e8eaed;
  --color-secondary-text: #8b949e;

  /*   Navbar Styles*/
  --nav-shadow: #141719;
  --color-nav-items: #9aa0a6;
  --color-nav-hover: rgba(232, 234, 237, 0.04);

  /*   Buttons and Icon Styles*/
  --color-buttons: #604a84;
  --color-text-buttons: #f8faff;

  /*   Stars Styles*/
  --background-color-stars: rgba(255, 255, 255, 0.8);
  --stars-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.5),
    0 0 10px 4px rgba(255, 255, 255, 0.2), 0 0 17px 7px rgba(255, 84, 98, 0.1);
  --stars-background-image: linear-gradient(90deg, #c7c6c6ca, transparent);

  /*   Others Projects Styles*/
  --box-shadow-others-projects-cards: 0 3px 6px #010409;
  --border-other-projects-cards: #2d333b;
  --color-text-technologies: #a8acb3;
}

[data-theme="light"] {
  /*   Text and Background Styles*/
  --color-bg: #fff;
  --color-text: #0f0f0f;

  /*   Navbar Styles*/
  --nav-shadow: #d5d6d8;
  --color-nav-items: #5f6368;
  --color-nav-hover: rgba(32, 33, 36, 0.04);

  /*   Stars Styles*/
  --background-color-stars: rgba(0, 0, 0, 0.7);
  --stars-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.5),
    0 0 10px 4px rgba(0, 0, 0, 0.2), 0 0 17px 7px rgba(0, 84, 98, 0.1);
  --stars-background-image: linear-gradient(90deg, #545454ca, transparent);

  /*   Others Projects Styles*/
  --box-shadow-others-projects-cards: 0 3px 6px rgba(140, 149, 159, 0.15);
  --border-other-projects-cards: hsla(210, 18%, 87%, 1);
  --color-text-technologies: #57606a;
}

#aboutMe,
#projects,
#contactMe {
  padding-top: 30px;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: "Rubik", sans-serif;
  scroll-behavior: smooth;
  font-display: swap;
  height: 100%;
}

.vbar {
  width: 100px;
  height: 3px;
  border-radius: 5px;
  background-color: var(--color-buttons);
}

.btn-scroll-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  display: none;
  background: -webkit-linear-gradient(-45deg,
      #ee7752,
      #e73c7e,
      #23a6d5,
      #23d5ab);
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  color: white;
}

.arrow-up-icon {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-scroll-top:hover {
  color: white;
  transform: scale(1.2);
}

.line-project {
  width: 100%;
  height: 1px;
  background-color: var(--color-secondary-text);
  margin: 20px 0;
}

#embedim--snow {
  z-index: -1 !important;
}

.embedim-snow {
  background-color: var(--background-color-stars) !important;
}