.title__name {
  font-size: 4rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
  background-clip: text;
  -webkit-animation: gradient 5s ease infinite;
  -moz-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
}
.title__description {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.icon-social {
  font-size: 2.4rem;
  margin: 0.7rem;
  color: var(--color-text-technologies);
}
.btn-media {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background-color: var(--color-buttons);
  height: 65px;
  text-decoration: none;
  color: #fff;
  font-size: 1.4rem;
  width: 250px;
  font-weight: 600;
  margin: 0.5rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.btn-media:hover {
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.icon-social:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease-in-out;
  color: var(--color-buttons);
}
@media screen and (min-width: 768px) {
  .title__name {
    font-size: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .title__name {
    font-size: 6rem;
  }
}
