.img-profile {
  background-color: var(--color-background-image);
  border-radius: 100% 50% 100% 100%;
  width: 100%;
}
.title__name {
  font-size: 3.3rem;
  font-weight: 600;
  background: -webkit-linear-gradient(43deg, #4158d0 0%, #c850c0 68%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
.title__description {
  text-align: center;
}
.btn__cv__contactme {
  background-color: var(--color-buttons);
  color: var(--color-text-buttons);
  border-radius: 5px;
  width: 165px;
  height: 55px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn-socials {
  background: -webkit-linear-gradient(43deg, #4158d0 0%, #c850c0 68%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 2.3rem !important;
}

/* ANIMATIONS */
.btn__cv__contactme:hover {
  background-color: var(--color-hover-buttons);
  color: var(--color-hover-text-buttons);
}
@media screen and (min-width: 767px) {
  .title__name {
    font-size: 3.7rem;
  }
  .title__description {
    font-size: 1rem;
  }
  .btn-socials:hover {
    transform: scale(1.2);
  }
}
@media screen and (min-width: 1023px) {
  .title__name {
    font-size: 5rem;
  }
  .title__description {
    font-size: 1.2rem;
  }
  .btn__cv__contactme {
    font-size: 1.5rem;
    width: 230px;
    height: 70px;
  }
}
