.title__name {
  font-size: 4rem;
  font-weight: 600;
  background: -webkit-linear-gradient(
    -45deg,
    #ee7752,
    #e73c7e,
    #23a6d5,
    #23d5ab
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-size: 200%;
  background-clip: text;
  -webkit-animation: gradient 5s ease infinite;
  -moz-animation: gradient 5s ease infinite;
  animation: gradient 5s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.title__description {
  text-align: center;
}
.btn__cv__contactme {
  background: var(--color-buttons);
  color: var(--color-text-buttons);
  border-radius: 5px;
  font-weight: 600;
  width: 200px;
  height: 50px;
  margin: 5px;
  font-size: 1.2rem;
}
.btn-socials {
  margin: 5px;
  width: 50px;
  height: 50px;
  
}

/* ANIMATIONS */
.btn__cv__contactme:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 767px) {
  .title__name {
    font-size: 4.5rem;
  }
  .title__description {
    font-size: 1rem;
  }
  .btn-socials:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
  }
}
@media screen and (min-width: 1023px) {
  .title__name {
    font-size: 5.5rem;
  }
  .title__description {
    font-size: 1.2rem;
  }
}
