#navbar {
  background-color: var(--color-bg);
  box-shadow: 0 0 10px 0 var(--nav-shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
}
.navbar-brand {
  font-size: 1.7rem;
  font-weight: 600;
  color: var(--color-text);
}
.background-navbar {
  background-color: transparent !important;
  box-shadow: none !important;
}
.nav-item {
  height: 100%;
}
.nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  color: var(--color-nav-items);
  padding: 20px 0;
}
.menu-icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  color: var(--color-nav-items);
}
.navbar-toggler {
  border: none;
}
.buttons-navbar {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 50px;
  font-size: 1.6rem;
  height: 50px;
}
.nav-link:hover {
  background-color: var(--color-nav-hover);
  color: var(--color-text);
  transition: all 0.2s ease-in-out;
}
.buttons-navbar:hover {
  background-color: var(--color-nav-hover);
  border: none;
  border-radius: 100%;
}
@media screen and (max-width: 992px) {
  #navbar {
    padding: 6px;
  }
}

@media screen and (min-width: 992px) {
  .navbar-brand:hover {
    transform: scale(1.1);
    color: var(--color-text);
    transition: all 0.2s ease-in-out;
  }
}
