.navbar-brand,
.nav-link {
  color: var(--color-text-navbar);
}
.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar {
  color: var(--color-text-navbar);
}

.dropdown-toggle::after {
  display: none;
}
.menu-icon {
  filter: var(--menu-icon);
}
.buttons-navbar {
  border: 1px solid rgb(19, 47, 76);
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  height: 40px;
  width: 50px;
}
.navbar-toggler {
  border: 1px solid rgb(19, 47, 76);
  height: 40px;
  width: 50px;
  border-radius: 5px;
  color: white;
}
.navbar-icon {
  color: var(--color-text-navbar);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-navbar-shadow:focus {
  box-shadow: none !important;
}
.menu-language {
  background-color: white;
  margin-left: 5px;
  margin-top: 5px;
  margin-right: -1px;
}
/* ANIMATION */
.navbar-brand:hover {
  transform: scale(1.1);
  color: var(--color-text-navbar);
  transition: 0.5s;
}
.buttons-navbar:hover {
  background-color: rgba(19, 47, 76, 0.4);
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}
.dropdown-item:hover {
  background-color: transparent;
}
