.navbar-brand,
.nav-link {
  color: var(--color-text-navbar);
}
.nav-link {
  display: flex;
  align-items: center;
  height: 100%;
}
.navbar {
  background-color: var(--color-navbar);
}
.button-change-mode {
  border: 1px solid rgb(19, 47, 76);
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px;
  height: 40px;
  width: 50px;
}
.navbar-toggler {
  border: 1px solid rgb(19, 47, 76);
  height: 40px;
  width: 50px;
  border-radius: 5px;
}
.navbar-icon,
.change-mode-icon {
  color: var(--color-text-navbar);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-navbar-shadow:focus {
  box-shadow: none !important;
}
.menu-language {
  margin-right: -4px;
}
/* ANIMATION */
.navbar-brand:hover {
  transform: scale(1.1);
  color: var(--color-text-navbar);
  transition: 0.5s;
}
.button-change-mode:hover {
  background-color: rgba(19, 47, 76, 0.4);
}
.nav-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.dropdown-item:active {
  background-color: rgba(19, 47, 76, 0.4);
}
