.card-project-row:last-child hr {
  display: none !important;
}
.card-project {
  background-color: transparent;
  border: none;
}
.project-description {
  background-color: var(--color-buttons);
  border-radius: 10px;
  padding: 15px;
  color: var(--color-text-buttons);
}
.text-technologies {
  color:  var(--color-text);
  font-size: 0.8rem;
}
@media screen and (min-width: 1024px) {
  .project-description {
    float: right;
    width: 140%;
  }

  .card-project .card-title,
  .card-project .card-text,
  .card-project .projects-links,
  .card-project .projects-technologies {
    text-align: end;
    justify-content: end !important;
  }
  .card-project-row:nth-child(even) .card-project div,
  .card-project-row:nth-child(even) .card-project .card-title,
  .card-project-row:nth-child(even) .card-project .card-text,
  .card-project-row:nth-child(even) .card-project .projects-links,
  .card-project-row:nth-child(even) .card-project .projects-technologies {
    flex-direction: row-reverse !important;
    float: left !important;
    text-align: start !important;
    justify-content: start !important;
  }
}
